<!DOCTYPE html>
<html lang="en" data-th-replace="~{base::parent(~{::#content},~{::title})}">
  <head>
    <title>home</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <style>
      .container {
        margin: auto;
        width: 50%;
        padding: 30px;
        background-color: rgb(170, 186, 200);
      }
    </style>
  </head>
  <body>
    <!-- <div data-th-insert="navbar ::navbar"></div> -->
    <div id="content">
      <div class="bg-gray-200 w-1/2 p-4 mx-auto mt-4 text-2xl">
        <h1 class="text-2xl font-bold" data-th-text="${name}">
          Welcome to home page
        </h1>
        <p>Youtube Channel : <span data-th-text="${youtubeChannel}"></span></p>
        <p>Git repo link : <span data-th-text="${githubRepo}"></span></p>
        <a data-th-href="${githubRepo}"> click here</a>

        <p class="text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas
          quibusdam ad iusto, corrupti perspiciatis repudiandae alias fugit quo
          deserunt?
        </p>
        <button
          class="px-3 py-3 bg-blue-700 text-white hover:bg-blue-400 items-center"
        >
          click here
        </button>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
